<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
</head>
<body>
    <form action="" method="get">
        <label for="your_name">Enter your name: </label>
        <input id="your_name" type="text" name="your_name">
        <br>
        <label for="your_email">Enter your email: </label>
        <input type="email" name="your_email" id="your_email">
        <br>
        <button type="submit" value="OK">Submit</button>
    </form>
</body>
</html>